apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ioc_group }}
  namespace: {{ cluster_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ cluster_namespace }}
  destination:
    name: {{ argocd_cluster }}
    namespace: {{ cluster_namespace }}
  source:
    path: apps
    repoURL: {{ deployment_repo }}
    targetRevision: main
    helm:
      version: v3
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
