apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ioc_group }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ argocd_project }}
  destination:
    name: {{ cluster_name_services }}
    namespace: {{ cluster_namespace_services }}
  source:
    path: apps
    repoURL: {{ deployment_repo }}
    targetRevision: main
    helm:
      version: v3
  syncPolicy:
    automated:
      prune: true
      selfHeal: true